<div class="search-container">
  <label>
    מספר בקשה:
    <input type="number" [(ngModel)]="id" />
  </label>
  <label>
    רחוב:
    <input type="text" [(ngModel)]="street" />
  </label>
  <label>
    סטטוס:
    <input type="number" [(ngModel)]="statusId" />
  </label>
  <button (click)="search()">חפש</button>
</div>



<div class="table-container">
    <table>
      <thead>
        <tr>
           <th>בקשה</th>
          <!-- <th>מיקומים</th>
          <th>מגיש</th>
          <th>עבור רישום</th>
          <th>סטטוס</th> -->
          <th>ת.בקשה</th>
          <!-- <th>מאשרים</th> --> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of requests">
          <td>{{ request.planNumber }}</td>
          <td>{{ request.workDescription }}</td>
          <!-- <td>{{ request.location }}</td>
          <td>{{ request.submitter }}</td>
          <td>{{ request.registration }}</td> -->
          
          
          <!-- <td>{{ request.approved }} מתוך {{ request.totalApprovers }}</td> -->
        </tr>
      </tbody>
    </table>
  </div>
  