<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <h2 class="form-title">{{ 'NAVBAR.LOGIN' | transloco }}</h2>
  
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ 'NAVBAR.USER_NAME' | transloco }}</mat-label>
      <input matInput formControlName="email" required />
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
        {{ 'NAVBAR.USER_NAME_REQUIRED' | transloco }}
      </mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ 'NAVBAR.PASSWORD' | transloco }}</mat-label>
      <input matInput type="password" formControlName="codeKey" required />
      <mat-error *ngIf="loginForm.get('codeKey')?.hasError('required')">
        {{ 'NAVBAR.PASSWORD_REQUIRED' | transloco }}
      </mat-error>
    </mat-form-field>
  
    <!-- <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ 'NAVBAR.EMAIL' | transloco }}</mat-label>
      <input matInput type="email" formControlName="email" required/>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
        {{ 'NAVBAR.INVALID_EMAIL' | transloco }}
      </mat-error>
    </mat-form-field> -->
  
    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid" class="submit-button">
      {{ 'NAVBAR.LOGIN' | transloco }}
    </button>
  </form>
  