<mat-toolbar color="primary" class="navbar">
  <span class="spacer"></span>

  <div class="auth-container" [ngClass]="{'show': showMobileMenu}">
    <ng-container>
      <button *ngIf="!isLoggedIn" mat-raised-button  (click)="toggleLogin()"> 
        <mat-icon>login</mat-icon>
        {{ 'NAVBAR.LOGIN' | transloco }}
      </button>

      <button *ngIf="!isLoggedIn" mat-raised-button  (click)="togglesignup()"> 
        <mat-icon>person_add</mat-icon>
        {{ 'NAVBAR.SIGN_UP' | transloco }}
      </button>

      <button *ngIf="isLoggedIn" mat-raised-button  (click)="tologout()"> 
        <mat-icon>logout</mat-icon>
        {{ 'NAVBAR.LOG_OUT' | transloco }}
      </button>
    </ng-container>
  </div>

  <div class="menu-lang-wrapper">
    <button class="menu-toggle" mat-icon-button (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>

    <button class="language-button" [matMenuTriggerFor]="languageMenu">
      <mat-icon>translate</mat-icon>
    {{'NAVBAR.LANGUAGE' | transloco}}
    </button>
  </div>

  <mat-menu #languageMenu="matMenu">
    <button mat-menu-item (click)="changeLanguage('en')">
      <mat-icon>language</mat-icon> English
    </button>
    <button mat-menu-item (click)="changeLanguage('he')">
      <mat-icon>language</mat-icon> עברית
    </button>
  </mat-menu>
</mat-toolbar>

<app-login *ngIf="showLogin" (loginSuccess)="onLoginSuccess()" (close)="showLogin = false"></app-login>
<app-signup *ngIf="showsignup" (signupSuccess)="onSignupSuccess()" (close)="showsignup = false"></app-signup>


<main>
  <router-outlet></router-outlet>
</main>


